[tarpaulin]
coverage-reports = ["Html", "Lcov", "Json"]
output-dir = "target/coverage/"

fail-under = 40.0  
ignore-panics = true

skip-clean = true
count = true
line = true
branch = true
forward = true

exclude = [
  # WIP packages that are unused and will be (re-)implemented in the future
  "adam",
  
  # File-level excludes
  "*/tests/*",
  "*/examples/*", 
  "*/target/*",

  # Auth module uses external credentials - hard to test
  "*/auth.rs",
  
  # Update module relies heavily on APIs and the file system - hard to test
  "*/kernelle/src/update.rs",
]

timeout = "120s"

run-types = ["Tests"]
release = true

all-features = true
workspace = true
engine = "Llvm" 
