#!/bin/sh
# Blizz CLI Integration

# Please do not remove or move these lines. It is used to do manage internal setup for Blizz.
KERNELLE_HOME="${KERNELLE_HOME:-$HOME/.kernelle}"
source "$KERNELLE_HOME/kernelle.internal.source"